<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data</title>
</head>
<body>
    <h1>Sensor Data</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Air Pressure</th>
            <th>CO</th>
            <th>CO2</th>
            <th>MOX</th>
            <th>CH4</th>
            <th>NO2</th>
        </tr>
        {% for reading in data %}
        <tr>
            <td>{{ reading.time }}</td>
            <td>{{ reading.temperature }}</td>
            <td>{{ reading.humidity }}</td>
            <td>{{ reading.airPressure }}</td>
            <td>{{ reading.co }}</td>
            <td>{{ reading.co2 }}</td>
            <td>{{ reading.mox }}</td>
            <td>{{ reading.ch4 }}</td>
            <td>{{ reading.no2 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
